@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

:root {
  --primary-yellow: #ffcc00;
  --secondry-purple: #6270ea;
  --secondry-blue: #0b2b4f;
  --background-gray: #f0f0f0;
}

main {
  background-color: var(--background-gray);
  height: 100vh;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
