@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100%;
}

/* scroll bar styles */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F0F0F0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CECECE;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A7A7A7;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 110%;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --primary-yellow: #ffcc00;
  --secondry-purple: #6270ea;
  --secondry-blue: #0b2b4f;
  --background-gray: #f0f0f0;
  --secondry-gradient: linear-gradient(to right, #00567c, #008494);
}
