/* header section 1 */
.header .sec1 {
  background-color: var(--secondry-blue);
 
}

.sec1>div{
  display: flex;
  color: white;

  height: 30px;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.sec1 *{
  font-weight: 300;
}



/* header section3 */
.navBar {
  background-color: var(--secondry-blue);
}
.navBar>ul{
  display: flex;
  width: 95%;
  max-width: 1400px;
  margin:auto;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.navBar ul>li>a{
 text-decoration: none;
 color: white;
}